<div class="row justify-content-evenly align-items-center m-0 p-0 mt-5 ">
    <div class="col-md-3 p-3 ">
        <canvas id="myChart" class=" bg-rgba-dark rounded-3"></canvas>
        <button class="btn btn-info w-100">Ver Asignaciones Emitidas</button>
    </div>
    <div class="col-md-6 p-3 ">
        <canvas id="lineChart" class=" bg-rgba-dark rounded-3 h-100"></canvas>
        <button class="btn btn-info w-100">Ver Recursos Ingresados</button>
    </div>
    <div class="col-md-4 p-3  ">
        <canvas id="myChart" class=" bg-rgba-dark rounded-3"></canvas>
    </div>
    <div class="col-auto p-3  ">
        <canvas id="myChart" class=" bg-rgba-dark rounded-3"></canvas>
    </div>
</div>