<div class="container m-0 p-0">
    <div class="row m-0 p-0 mt-5">
        <div class="col-auto p-3  ">
            <canvas id="myChart" class=" bg-rgba-dark rounded-3"></canvas>
        </div>
        <div class="col-auto p-3  ">
            <canvas id="myChart" class=" bg-rgba-dark rounded-3"></canvas>
        </div>
        <div class="col-auto p-3  ">
            <canvas id="myChart" class=" bg-rgba-dark rounded-3"></canvas>
        </div>
        <div class="col-auto p-3  ">
            <canvas id="myChart" class=" bg-rgba-dark rounded-3"></canvas>
        </div>
        <div class="col-auto p-3  ">
            <canvas id="myChart" class=" bg-rgba-dark rounded-3"></canvas>
        </div>
        <div class="col-auto p-3  ">
            <canvas id="myChart" class=" bg-rgba-dark rounded-3"></canvas>
        </div>
    </div>
</div>