<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/scss/styles.scss">
    <!-- selectize -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.bootstrap4.min.css"
        integrity="sha512-MMojOrCQrqLg4Iarid2YMYyZ7pzjPeXKRvhW9nZqLo6kPBBTuvNET9DBVWptAo/Q20Fy11EIHM5ig4WlIrJfQw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- Data Tables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs5/dt-1.10.25/b-1.7.1/b-html5-1.7.1/r-2.2.9/datatables.min.css" />


    <title>Grupo sistem</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand " href="/">Grupo Sistem</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {{#if OnIndex}}
                    <li class="nav-item itemNav">
                        <a class="nav-link active " aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item itemNav">
                        <a class="nav-link" href="#">Tu seguridad es importante</a>
                    </li>
                    <li class="nav-item dropdown itemNav">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Inicia sesion
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <form class="dropdown-item" action="/" method="POST">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Usuario</label>
                                    <input type="text" class="form-control" name="User" aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text">We'll never share your email with
                                        anyone
                                        else.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                                    <input type="password" class="form-control" name="Password"
                                        id="exampleInputPassword1">
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Ingresar</button>
                            </form>
                        </ul>
                    </li>
                    <li class="nav-item itemNav">
                        <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Articulos</a>
                    </li>
                </ul>
                {{else}}
                <!-- aqui para agregar li al nav
                <li class="nav-item itemNav">
                    <a class="nav-link active " aria-current="page" href="/Dashboard">Menu</a>
                </li>
                -->
                </ul>
                <form class="d-flex">
                    <a class="btn btn-danger" href="/auth/logout">
                        Cerrar sesión
                    </a>
                </form>
                {{/if}}
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            {{#unless OnIndex}}
            <div class="col-auto col-md-3 col-xl-2 px-sm-3 bg-dark">
                <div class=" w-100 d-flex flex-column align-items-center align-items-sm-start  pt-2 min-vh-100">
                    <ul class="w-100 nav nav-pills flex-column mb-sm-auto align-items-start align-items-sm-start "
                        id="menu">
                        <li class="my-1 w-100 hover-items ">
                            <a href="/Dashboard" class="nav-link align-middle px-0">
                                <span class="btn btn-info">
                                    <i class="fas fa-home"></i>
                                </span>
                                <span class="ms-1 d-none d-sm-inline text-white">Menu</span>
                            </a>
                        </li>
                        {{#if (authForRecursos IdCargo)}}
                        <li class="my-1  w-100 hover-items ">
                            <a href="/cheques" class="nav-link align-middle px-0">
                                <span class="btn btn-info">
                                    <i class="fas fa-money-check-alt"></i>
                                </span>
                                <span class="ms-1 d-none d-sm-inline text-white">Recusos</span>
                            </a>
                        </li>
                        {{/if}}
                        <li class="my-1  w-100 hover-items">
                            <a href="/comprobacionDeGastos" class="nav-link px-0 align-middle">
                                <span class="btn btn-info">
                                    <i class="fas fa-file-invoice-dollar"></i>
                                </span>
                                <span class="ms-1 d-none d-sm-inline text-white">Comprobaciones</span></a>
                        </li>
                        {{#if (authForAddUsers IdCargo)}}
                        <li class="my-1 w-100 hover-items">
                            <a href="/auth/signUp" class="nav-link px-0 align-middle">
                                <span class="btn btn-info">
                                    <i class="fas fa-user-plus"></i>
                                </span>
                                <span class="ms-1 d-none d-sm-inline text-white">Añadir usuarios</span></a>
                        </li>
                        {{/if}}
                        <div class="dropdown pb-4 mt-5">
                            <a href="#"
                                class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user-circle fa-2x"></i>
                                <span class="d-none d-sm-inline mx-1">Perfil</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                                <li><a class="dropdown-item" href="/auth/updateProfile">Cambiar contraseña</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/auth/logout">Sign out</a></li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
            {{/unless}}
            <div class="{{#if OnIndex}}col-auto col-md-12 col-xl-12{{else}}col-auto col-md-9 col-xl-10{{/if}} p-0">
                <div class="">
                    {{>messages}}
                    {{{body}}}
                </div>
            </div>
        </div>
    </div>
    <footer class="text-white text-center text-lg-start" style="background-color: #23242a;">
        <div class="bg-dark p-2"></div>
        <div class="bg-secondary p-2"></div>
        <div class="container p-4">
            <!--Grid row-->
            <div class="row mt-4">
                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">Sobre la empresa..</h5>

                    <p>
                        Grupo sistem es una empresa responsable y con valores que dan un valor agregado,
                        nustros servicios se basan en el ramo de la construccion y la ingieneria aplicada.
                    </p>

                    <ul class="fa-ul" style="margin-left: 1.65em;">
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-envelope"></i></span><span
                                class="ms-2">info@gruposistem.com</span>
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+
                                01 234 567 88</span>
                        </li>
                    </ul>
                    <div class="mt-4">
                        <!-- Facebook -->
                        <a type="button" class="btn btn-floating btn-warning btn-lg"><i
                                class="fab fa-facebook-f"></i></a>
                        <!-- Dribbble -->
                        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-dribbble"></i></a>
                        <!-- Twitter -->
                        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-twitter"></i></a>
                        <!-- Google + -->
                        <a type="button" class="btn btn-floating btn-warning btn-lg"><i
                                class="fab fa-google-plus-g"></i></a>
                        <!-- Linkedin -->
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-8 col-md-6 mb-4 mb-md-0">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d948.8062338361976!2d-92.9411795119221!3d17.96826899922957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTfCsDU4JzA1LjgiTiA5MsKwNTYnMjYuMyJX!5e0!3m2!1ses-419!2smx!4v1627656205756!5m2!1ses-419!2smx"
                        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy">
                    </iframe>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="https://gruposistem.com/">gruposistem.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <!-- Ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"
        integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>


    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <!-- DataTable -->
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

    <script type="text/javascript"
        src="https://cdn.datatables.net/v/bs5/dt-1.10.25/b-1.7.1/b-html5-1.7.1/r-2.2.9/datatables.min.js"></script>

    <script type="text/javascript"
        src="https://cdn.datatables.net/v/bs5/dt-1.10.25/b-1.7.1/b-html5-1.7.1/r-2.2.9/datatables.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
    <!-- Custom Scripts-->
    <script src="/scripts/index.js"></script>

</body>

</html>